/* 
COLORES
- GRIS: #1E3032;
- AMARILLO: #D8D83D; 
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62,3%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1E3032;
}

.main-header {
    font-size: xx-large;
    flex: 1;
    text-align: center;
    color: #D8D83D;
}

.main-header h1 {
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.side-nav {
    font-size: xx-large;
    flex: 0;
    margin-right: 2rem;
}

.side-nav nav ul li{
    list-style: none;
    text-align: right;
    color: #D8D83D;
    padding: 3rem;
    transition: transform 0.2s ease-in-out;
    cursor:pointer;
}

.side-nav nav ul li:hover{
    transform: scale(1.2) translateX(-1rem);
}