/* 
COLORES
- GRIS: #1E3032;
- AMARILLO: #D8D83D; 
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

main{
    position: relative;
}

body{
    overflow: hidden;
}

#header {
    background-color: #1E3032;
    align-content: center;
    height: 100vh;
    width: 100vw;
    outline: 2px solid whitesmoke;
}

#main-header {
    z-index: 4;
    position: relative;
    font-size: xx-large;
    text-align: center;
    color: #D8D83D;
    transition: transform 1s ease-in-out;
    visibility: visible;
}

#main-header h1 {
    text-transform: uppercase;
    margin-bottom: 3rem;
}

#main-header h2 {
    font-size:x-large;
}

.side-nav{
    position: absolute;
    top:50%;
    left:0;
    font-size: xx-large;
    margin-left: 2rem;
    transform: translateY(-50%);
    z-index: 5;
}

.side-nav nav ul li {
    list-style: none;
    text-align: left;
    padding: 3rem;
    transition: transform 0.2s ease-in-out;
    cursor:pointer;
    color: whitesmoke; 
}

.side-nav nav ul li a{
    text-decoration: none;
}

.side-nav li:hover {
    color: #eaea95;
    transform: scale(1.1) translateX(1rem);
}

.side-nav li.active {
    transform: scale(1.5) translateX(2.5rem);  
    color: #D8D83D;
}

main section{
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: #D8D83D;
    transition: transform 1s ease-in-out;
    outline: 2px solid whitesmoke;
}

#main-sobremi {
    z-index: 3;
    background-color: #1E3032;
}

#main-proyectos {
    z-index: 2;
    background-color: #1E3032;
}

#main-contacto {
    z-index: 1;
    background-color: #1E3032;
}

.sobremi{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 5rem;
    max-width: 90%;
}

.container-imagen img{
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    border: 1px solid white;
    transition: transform 0.2s ease-in-out;
}

.sobremi img:hover{
    transform: scale(1.1);
}

#main-sobremi h1{
    padding: 1rem;
    text-transform: uppercase;
    margin: 5rem 0rem;
    color: #D8D83D;
    font-size: 2.1rem;
}

#main-sobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}

.container-descripcion {
    text-align: left;
    max-width: 500px;
}

.container-descripcion h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.container-descripcion p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.descargar-cv{
    text-align: center;
    margin: 2rem auto;
    max-width: 500px;
}

.descargar-cv h3{
    text-transform: uppercase;
    margin: 1rem 0rem;
    font-size: 2rem;
    color: #D8D83D;
}

.cv-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.option label {
    font-size: 1.4rem;
    color: whitesmoke;
    cursor:pointer;
}

.option button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.option button:hover {
    transform: scale(1.2);
}

.option img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.enlaces button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.enlaces-options{
    display: flex;
    gap: 2rem;
}

.enlaces img{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
}

.otros-enlaces h3{
    color: #D8D83D;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.enlaces button:hover {
    transform: scale(1.2);
}